nav>ul>li {
    display: inline;
    margin: 15px;
}

nav li:hover {
    background-color: rgb(241, 241, 220);
    padding: 5px;
    border: 2px solid sandybrown;
}

a {
    text-decoration: none;
}

footer {
    margin: 30px;
    text-align: center;
}